*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

html body {
  margin-right: 0 !important;
}

::selection {
  background: var(--chakra-colors-orange-300);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--chakra-colors-blackAlpha-300);
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-track-piece {
  width: 0.5rem;
  background: transparent;
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-orange-200);
  border-radius: 0.25rem;
}

/* Gooey Balls */
.spinner_mHwL {
  animation: spinner_OeFQ 1s cubic-bezier(0.56, 0.52, 0.17, 0.98) infinite;
}

.spinner_ote2 {
  animation: spinner_ZEPt 1s cubic-bezier(0.56, 0.52, 0.17, 0.98) infinite;
}

@keyframes spinner_OeFQ {
  0% {
    cx: 4px;
    r: 3px;
  }
  50% {
    cx: 9px;
    r: 8px;
  }
}

@keyframes spinner_ZEPt {
  0% {
    cx: 15px;
    r: 8px;
  }
  50% {
    cx: 20px;
    r: 3px;
  }
}
